body {
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    height: 50px;
    width: 100vw;
    background-color: #0F62FE;
    /* background-color: #252A2F; */
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: fixed;
    z-index: 2;
}

a {
    text-decoration: none;
}

.available {
    font-size: 20px;
    font-weight: 600;
    color: black;
}

#blinking {
    margin-left: 5px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid black;
    animation: blink infinite 1s linear;
}

@keyframes blink {
    0%{
        background-color:white;
    }
    45% {
        background-color: whitesmoke;
    }
    55% {
        background-color: red;
    }
    100% {
        background-color: red;
    }
}

main {
    height: 100vh;
    width: 100vw;
    background-color: black;
    /* background-color: #252A2F; */
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.hello {
    /* color: white; */
    font-size: 50px;
}

.text {
    /* color: white; */
    font-size: 20px;
    font-weight: 600;
}

.txt {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

span {
    color: #0F62FE;
    font-size: 30px;
    font-weight: 700;
}

.developer {
    align-items: start;
    justify-content: start;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 40px;
    overflow: hidden;
    margin-top: -20px;
    margin-left: -4px;
}

.developer span {
    animation: scroll 10s infinite ease-in-out;
    padding: 0;
    /* line-height: 1.3; */
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-40px);
    }
    50% {
        transform: translateY(-40px);
    }
    60% {
        transform: translateY(-80px);
    }
    80% {
        transform: translateY(-80px);
    }
    90% {
        transform: translateY(-120px);
    }
    100% {
        transform: translateY(-120px);
    }
}

.image {
    width: 30%;
    position: relative;
    margin: 0;
}

.blob {
    position: absolute;
    width: 120%;
    top: 40%;
    left: 20%;
    transform: translate(-50%,-50%);
}

.me {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-60%,-60%);
    width: 100%;
    z-index: 5;
}

.next {
    width: 100vw;
    height: 550vh;
    background-color: black;
    /* background-color: #252A2F; */
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0;
    border: none;
}

#theme {
    height: 30px;
    width: 100px;
    font-weight: 700;
    border-radius: 20px;
    text-align: center;
}

.black {
    background-color: black;
    color: white;
}

.change {
    background-color: whitesmoke;
    color: black;
}

.essay {
    margin: 0;
    padding: 0;
    border: none;
    height: 100vh;
    width: 100%;
    display: flex;
}

.frameworks {
    height: 50vh;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.first-row,.second-row,.third-row {
    height: 100px;
    width: 100px;
    /* background-color: antiquewhite; */
    align-items: center;
    justify-content: start;
    display: flex;
    flex-direction: column;
    /* border-radius: 50%; */
    gap: 12%;
    overflow: hidden;
}

.works {
    height: 90%;
    width: 90%;
    animation: next  infinite ease-in-out;
}

.white {
    background-color: black;
}

@keyframes next {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-100px);
    }
    50% {
        transform: translateY(-100px);
    }
    60% {
        transform: translateY(-200px);
    }
    80% {
        transform: translateY(-200px);
    }
    90% {
        transform: translateY(-300px);
    }
    100% {
        transform: translateY(-300px);
    }
}

.row-one {
    width: 50%;
    height: 100%;
    align-items: end;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.row-two {
    width: 50%;
    height: 100%;
    background-image: url(images/40127572_8771935.jpg);
    background-size: cover;
    background-position: center;
}

.short {
    text-align: right;
    font-size: 40px;
    color: #0f62fe;
    width: 80%;
    margin-right: 50px;
}

.more {
    width: 80%;
    word-spacing: 10px;
    line-height: 30px;
    text-align: right;
    font-weight: 600;
    margin-right: 50px;
}

.download {
    font-size: 15px;
    font-weight: 600;
    color: #0F62FE;
    border: 2px #0F62FE solid;
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 50px;
}

.download:hover {
    background-color: #0F62FE;
    color: white;
}

.projects {
    height: 250vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}

.heading {
    font-size: 30px;
    text-align: center;
    word-spacing: 10px;
    height: 10vh;
}

.first {
    height: 90vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 20vh;
}

.second {
    height: 90vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20vh;
}

.see-more {
    font-weight: 600;
    height: 10vh;
    text-align: center;
    margin-top: 20vh;
}

.fir-text-container {
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.sec-text-container {
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.first-image {
    width: 50%;
    height: 100%;
    background-image: url(images/Samsung-Galaxy-S20-127.0.0.1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    /* background-color: whitesmoke; */
}

.second-image {
    width: 50%;
    height: 100%;
    background-image: url(images/iPhone-13-PRO-MAX-127.0.0.1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

b {
    color: #0F62FE;
    font-size: 25px;
    font-weight: 700;
    width: 90%;
}

.b-first {
    text-align: right;
}

.b-second {
    text-align: left;
}

.first-text {
    font-weight: 600;
    width: 90%;
    text-align: right;
    line-height: 2.5;
}

.second-text {
    font-weight: 600;
    width: 90%;
    text-align: left;
    line-height: 2.5;
}

.visit-container-one {
    width: 90%;
    align-items: end;
    justify-content: end;
    display: flex;
}

.visit-container-two {
    width: 90%;
    align-items: start;
    justify-content: start;
    display: flex;
}

.visit {
    font-size: 15px;
    font-weight: 600;
    color: #0F62FE;
    border: 2px #0F62FE solid;
    padding: 5px 20px;
    border-radius: 20px;
}

.visit:hover {
    background-color: #0F62FE;
    color: white;
}

.reviews {
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 30vh;
}

.top {
    height: 20%;
    width: 100%;
    text-align: center;
}

.contact {
    text-align: center;
    word-spacing: 15px;
}

.bottom {
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 20vh;
}

.socials,.mail {
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.logos {
    height: 30px;
    width: 30px;
}

ul {
    height: 100%;
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
    height: 50px;
    /* align-items: center; */
    text-align: left;
    /* justify-content: center; */
    display: flex;
    gap: 20px;
}
footer {
    height: 50px;
    width: 100%;
    background-color: #0F62FE;
    align-items: center;
    justify-content: center;
    display: flex;
}

.end {
    font-size: 15px;
    word-spacing : 20px;
}































































@media screen and (max-width:990px){
    main {
        height: 130vh;
        flex-direction: column;
    }
    .txt {
        width: 80%;
        height: 100vh;
        
    }
    .image {
        width: 100%;
        height: 30vh;
    }
    .me {
        top: 0%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
    }
    .blob {
        top: 0%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
    }
    .next {
        height: 750vh;
    }
    .essay {
        flex-direction: column;
        height: 200vh;
    }
    .row-two {
        width: 100%;
        height: 100vh;
        background-position-x: 20%;
    }
    .row-one {
        width: 100%;
        height: 100vh;
        gap: 0;
        justify-content: space-evenly;
        align-items: start;
    }
    .short {
        margin-right: 0;
        text-align: left;
        margin-left: 20px;
    }
    .more {
        margin-left: 20px;
        width: 90%;
        margin-right: 0;
        text-align: left;
    }
    .download {
        margin-left: 20px;
        margin-right: 0;
    }
    .projects {
        height: 350vh;
        justify-content: center;
    }
    .first {
        height: 140vh;
        flex-direction: column;
        margin: 10vh;
    }
    .second {
        height: 140vh;
        flex-direction: column;
        margin-top: 0;
    }
    .fir-text-container {
        height: 70vh;
        width: 100%;
        justify-content: space-around;
    }
    .sec-text-container {
        height: 70vh;
        width: 100%;
        justify-content: space-around;
    }
    .first-image {
        width: 100%;
        height: 70vh;
        margin-top: 10vh;
    }
    .second-image {
        margin-top: 10vh;
        width: 100%;
        height: 70vh;
    }
    .first-text {
        font-weight: 600;
        width: 90%;
        text-align: left;
        line-height: 2.5;
    }
    .second-text {
        font-weight: 600;
        width: 90%;
        text-align: left;
        line-height: 2.5;
    }
    .b-first {
        text-align: left;
    }  
    .b-second {
        text-align: left;
    }
    .visit-container-one {
        width: 90%;
        align-items: start;
        justify-content: start;
        display: flex;
    }
    .visit-container-two {
        width: 90%;
        align-items: start;
        justify-content: start;
        display: flex;
    }
    .see-more {
        height: 10vh;
        margin: 10vh;
        text-align: center;
    }
    .top {
        height: 10%;
    }
    .bottom {
        flex-direction: column;
        height: 80%;
        margin-top: 10vh;
    }
    .socials,.mail {
        height: 60%;
        width: 70%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:660px){
    .socials,.mail {
        height: 60%;
        width: 100%;
        align-items: start;
        justify-content: start;
        display: flex;
        flex-direction: column;
    }
    .developer {
        height: 35px;
        width: 250px;
    }
    @keyframes scroll {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-35px);
    }
    50% {
        transform: translateY(-35px);
    }
    60% {
        transform: translateY(-70px);
    }
    80% {
        transform: translateY(-70px);
    }
    90% {
        transform: translateY(-105px);
    }
    100% {
        transform: translateY(-105px);
    }
}
}
